*{
    font-family: "Shin Go L", Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #a02c55 !important;
}

.loginContainer{
    min-width: 320px;
    width: 60%;
    border-radius: 20px;
}

.formDiv{
    font-size: 13px;
}

#btnRegistrar{
    font-family: "Shin Go R", Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 13px;
    border-radius: 10px;
    background-color: #a02c55;
    color: white !important;
    border: none;
    display: none ;
}

.formR{
    font-size: 13px !important;
    padding: 10px !important;
}

.form-control:focus{
    border-color: #a02c55 !important;
    box-shadow: 0 0 0 0.15rem #ffddea !important;
}

.form-check-input{
    margin-top: 1px !important;
}

.form-check-input:checked{
    border-color: #a02c55 !important;
    background-color: #a02c55 !important;
}

.form-check-input:focus{
    border-color: #a02c55 !important;
    box-shadow: 0 0 0 0.15rem #ffddea !important;
}

#btnEntrar{
    font-family: "Shin Go R", Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 13px;
    border-radius: 10px;
    background-color: #a02c55;
    color: white !important;
    display: block;
    border: none;
}

#cadastroToggle{
    cursor: pointer;
    user-select: none;
}

#btnPedido{
    font-family: "Shin Go R", Arial, Helvetica, sans-serif;
    width: 300px;
    padding: 13px;
    border-radius: 10px;
    background-color: #a02c55;
    color: white !important;
    border: none;
}